h1{
    color: red;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: gray;

}

header>div{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

li{
    list-style: none;

}

header ul{
    display: flex;
    flex-direction: row;
}

header a{
    text-decoration: none;
}

header li{
    margin-left: 1rem;
    font-size: 1.3em;
}

header form{
    margin-right: 3rem;
    display: flex;
    align-items: center;
}

#cartnumber{
    display: inline;
    color: white;
    background-color: red;
    padding: 5px;
    border-radius: 20px;
}

.productslist{
    display: flex;
    flex-wrap: wrap;
    width: 1500px;
    padding: 10px;
    
}

.product{
    width: 300px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(144, 127, 127);
    
}

.product img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.product-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;
}

.product-text h3{
    font-size: 1.5em;
}

.product-text p{
    margin-top: 0;
}

.product-text a{
    color: white;
    background-color: blue;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    text-decoration: none;

}



